@use "../base/vars" as *;

.auto {
  background-color: #1f3a5f;
  color: #fff;
  padding: 48px 0;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png"),
    url("../../assets/auto/cells.svg"),
    radial-gradient(circle at center, #3c5270 0%, #1f3a5f 100%);

  @media screen and (max-width: $breakpoint__xl) {
    padding: 32px;
  }

  &__title {
    font-size: clamp(2rem, 1.642rem + 1.51vw, 3rem);
    font-weight: 400;
    line-height: 48px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 560px;

    @media screen and (max-width: $breakpoint__l) {
      height: 500px;
    }

    @media screen and (max-width: $breakpoint__ml) {
      height: 420px;
    }

    @media screen and (max-width: $breakpoint__ms) {
      height: 330px;
    }

    @media screen and (max-width: $breakpoint__mss) {
      height: 280px;
    }

    @media screen and (max-width: $breakpoint__mss) {
      height: 230px;
    }
  }

  &__dimensions {
    display: flex;
    justify-content: space-between;
    padding: 24px 12px;

    @media screen and (max-width: $breakpoint__s) {
      padding: 24px 0;
    }

    @media screen and (max-width: $breakpoint__xl) {
      justify-content: center;
    }

    &--numbers {
      @media screen and (max-width: $breakpoint__ml) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &--numbers,
    &--weight {
      background-color: #2b2f33;
      border-radius: 12px;
      display: flex;
      align-items: center;
      padding: 8px 12px;
    }

    &--image {
      justify-content: center;
      padding: 0 24px;

      img {
        @media screen and (max-width: $breakpoint__ml) {
          display: none !important;
        }
      }
    }

    &--weight {
      @media screen and (max-width: $breakpoint__xl) {
        display: none;
      }
    }

    span {
      color: #6b7280;
      font-size: clamp(1rem, 0.955rem + 0.19vw, 1.125rem);
      font-weight: 400;
      line-height: 20px;
    }

    p {
      color: #fff;
      font-size: clamp(1.75rem, 1.66rem + 0.38vw, 2rem);
      line-height: 32px;
      margin: 0;
    }

    div {
      padding: 8px 12px;

      @media screen and (max-width: $breakpoint__l) {
        padding: 8px 8px;
      }

      @media screen and (max-width: $breakpoint__ml) {
        column-gap: 10px;
      }

      @media screen and (max-width: $breakpoint__s) {
        padding: 8px 4px;
      }
    }
  }
}

.showMobile {
  display: none;

  @media screen and (max-width: $breakpoint__xl) {
    display: block;
  }

  @media screen and (max-width: $breakpoint__mss) {
    text-align: center;
  }
}

.auto-slider {
  width: 100%;
  margin: 0 auto;
}

.auto .swiper-slide img {
  height: auto !important;
  width: auto !important;
}

.auto .swiper-slide {
  max-width: 100% !important;

  &::after {
    content: none !important;
    display: none !important;
    background-color: transparent !important;
  }

  &.swiper-slide-active {
    transform: none !important;

    &::after {
      background-color: transparent !important;
    }
  }
}
