.auto {
  background-color: #84c5bf;
  background-image: url("../../assets/auto/cells.svg");
  padding: 48px 0;
  &__title {
    font-size: clamp(2rem, 1.642rem + 1.51vw, 3rem);
    font-weight: 400;
    line-height: 48px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__image {
    text-align: center;
  }

  &__dimensions {
    display: flex;
    justify-content: space-between;
    padding: 24px 12px;

    &--numbers,
    &--weight {
      background-color: #222224;
      border-radius: 12px;
      display: flex;
      align-items: center;
      height: 85px;
      padding: 8px 12px;
    }

    &--image {
      justify-content: center;
      padding: 0 24px;
    }

    span {
      color: #84c5bf;
      font-size: clamp(1rem, 0.955rem + 0.19vw, 1.125rem);
      font-weight: 400;
      line-height: 20px;
    }

    p {
      color: #84c5bf;
      font-size: clamp(1.75rem, 1.66rem + 0.38vw, 2rem);
      line-height: 32px;
      margin: 0;
    }

    div {
      padding: 8px 12px;
    }
  }
}
