@use "../base/vars" as *;

.footer {
  background-color: #1f3a5f;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png"),
    radial-gradient(circle at center, #3c5270 0%, #1f3a5f 100%);
  color: #fff;
  padding: 40px 0;

  @media screen and (max-width: $breakpoint__ms) {
    padding: 20px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $breakpoint__ms) {
      flex-direction: column-reverse;
      row-gap: 30px;
    }
  }

  &__link {
    @media screen and (max-width: $breakpoint__ms) {
      width: 100%;
      justify-content: center;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 15px;

    &--links {
      display: flex;
      column-gap: 5px;
    }
  }

  &__email {
    a {
      color: #fff;
    }
  }
}

.footer__links--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (max-width: $breakpoint__ms) {
    align-items: center;
  }
}

.footer__link {
  padding: 8px 0;

  &:hover {
    background-color: transparent;
    color: #fff;
  }

  @media screen and (max-width: $breakpoint__l) {
    padding: 10px 10px;
    margin-bottom: 10px;
  }
}

.footer__logo {
  a {
    img {
      width: 250px;
    }
  }
}
