.footer {
  background-color: #1f3a5f;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png"),
    radial-gradient(circle at center, #3c5270 0%, #1f3a5f 100%);
  color: #fff;
  padding: 40px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    &--wrapper {
      display: flex;
      column-gap: 20px;
    }
  }
}
