@use "../base/vars" as *;

.gallery {
  padding: 40px 0;
  overflow: hidden;
}

.swiper {
  width: 100%;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 100%;
  max-width: 850px;
  cursor: grabbing;
  position: relative;
  transition: all 0.3s ease;

  img {
    display: block;
    width: 100%;
    height: 503px;
    border-radius: 8px;
    object-fit: cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    transition: background-color 0.3s ease;
    pointer-events: none;
    z-index: 1;
  }
}

.swiper-slide-active {
  transform: scale(1.1);
  z-index: 10;

  &::after {
    background-color: transparent;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #000;
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  z-index: 20;
  top: 45%;

  svg {
    height: 50%;
    object-fit: contain;
    transform-origin: center;
    width: 100%;
    fill: currentColor;
    pointer-events: none;
  }
}

.swiper-button-prev {
  left: 32% !important;

  @media screen and (max-width: $breakpoint__xxl) {
    left: 28% !important;
  }

  @media screen and (max-width: $breakpoint__xl) {
    left: 12.5% !important;
  }

  @media screen and (max-width: $breakpoint__ml) {
    left: 11% !important;
  }

  @media screen and (max-width: $breakpoint__ms) {
    display: none;
  }
}
.swiper-button-next {
  right: 32% !important;

  @media screen and (max-width: $breakpoint__xxl) {
    right: 28% !important;
  }

  @media screen and (max-width: $breakpoint__xl) {
    right: 12.5% !important;
  }

  @media screen and (max-width: $breakpoint__ml) {
    right: 11% !important;
  }

  @media screen and (max-width: $breakpoint__ms) {
    display: none;
  }
}

.swiper-pagination-bullets {
  @media screen and (max-width: $breakpoint__ms) {
    display: none;
  }
}
