header {
  background-color: #1f3a5f;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png"),
    radial-gradient(circle at center, #3c5270 0%, #1f3a5f 100%);
  color: #fff;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__languageSelect {
  position: relative;
  ul {
    background-color: #1f3a5f;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    display: none;
    margin-top: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    min-width: 100%;
    list-style: none;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      height: 10px;
      background: transparent;
    }
  }

  &:hover ul {
    display: block;
  }

  li {
    display: flex;
    justify-content: space-between;
  }

  a {
    cursor: pointer;
    white-space: nowrap;
    display: block;
    padding: 5px 10px;

    &:hover {
      background-color: #436696;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 7px;
      border-radius: 50%;
      background-image: url(../../assets/header/pl.png);
    }

    &.ua::before {
      background-image: url(../../assets/header/ua.png);
    }
    &.ru::before {
      background-image: url(../../assets/header/ru.png);
    }

    &.en::before {
      background-image: url(../../assets/header/us.png);
    }
  }
}

.header__selectedLanguage {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 50px;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: url(../../assets/header/poland_flag.svg);
  }
}
