@use "../base/vars" as *;

header {
  background-color: #1f3a5f;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png"),
    radial-gradient(circle at center, #3c5270 0%, #1f3a5f 100%);
  color: #fff;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    @media screen and (max-width: $breakpoint__xl) {
      padding: 22px 15px;
    }

    @media screen and (max-width: $breakpoint__xs) {
      padding: 15px;
    }
  }
}

.header__logo {
  a {
    img {
      margin-left: -20px;
    }
  }
}

.header__languageSelect {
  position: relative;
  ul {
    background-color: #1f3a5f;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    display: none;
    margin-top: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    min-width: 100%;
    list-style: none;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      height: 10px;
      background: transparent;
    }
  }

  &:hover ul {
    display: block;
  }

  &:hover .header__selectedLanguage::after {
    transform: rotate(225deg);
    margin-bottom: -2px;
  }

  li {
    display: flex;
    justify-content: space-between;
  }

  a {
    cursor: pointer;
    width: 150px;
    display: block;
    padding: 10px;

    &:hover {
      background-color: #436696;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-right: 7px;
      background-image: url(../../assets/header/ru.png);
      background-repeat: no-repeat;
    }

    &.pl::before {
      background-image: url(../../assets/header/pl.png);
    }

    &.ua::before {
      background-image: url(../../assets/header/ua.png);
    }
    &.ru::before {
      background-image: url(../../assets/header/ru.png);
    }
    &.en::before {
      background-image: url(../../assets/header/us.png);
    }
  }
}

.header__selectedLanguage {
  cursor: pointer;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;
  width: 140px;
  column-gap: 10px;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../../assets/header/ru.png);
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    margin-bottom: 3px;
    transition: transform 0.3s ease, margin-bottom 0.3s ease;
  }

  &.pl::before {
    background-image: url(../../assets/header/pl.png);
  }
  &.ua::before {
    background-image: url(../../assets/header/ua.png);
  }
  &.ru::before {
    background-image: url(../../assets/header/ru.png);
  }
  &.en::before {
    background-image: url(../../assets/header/us.png);
  }
}
