header {
  background-color: #1f3a5f;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png"),
    radial-gradient(circle at center, #3c5270 0%, #1f3a5f 100%);
  color: #fff;
  .header__languageSwitcher {
    &--image {
      border: 1px solid #e6e3de;
      border-radius: 50px;
      height: 20px;
      margin-right: 0.5rem;
      width: 20px;
    }
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
