@use "../base/vars" as *;

.hero {
  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: space-between;

    @media screen and (max-width: $breakpoint__ms) {
      flex-wrap: wrap;
      gap: 30px;
    }

    @media screen and (max-width: $breakpoint__s) {
      gap: 10px;
    }
  }

  &__title {
    h1 {
      font-size: clamp(2.75rem, 2.123rem + 2.64vw, 4.5rem);
      font-weight: 400;
      line-height: 65px;

      @media screen and (max-width: $breakpoint__ms) {
        font-size: 35px;
        line-height: 36px;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 8px 0;

    @media screen and (max-width: $breakpoint__l) {
      gap: 35px;
    }

    @media screen and (max-width: $breakpoint__ms) {
      width: 100%;
    }

    @media screen and (max-width: $breakpoint__s) {
      gap: 15px;
    }

    &--phone {
      p {
        font-size: clamp(1.75rem, 1.302rem + 1.89vw, 3rem);
        line-height: 48px;
      }
    }

    &--links {
      display: flex;
      flex-wrap: nowrap;
      gap: 4px;
      justify-content: end;
    }

    &--link {
      font-size: clamp(1rem, 0.955rem + 0.19vw, 1.125rem);
      line-height: 18px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 8px 12px;
      border-radius: 8px;
      transition: outline-width 0.3s ease-in-out, outline-color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;

      &:hover {
        background-color: #f5f4f2;
      }

      @media screen and (max-width: $breakpoint__l) {
        background-color: #f5f4f2;
      }

      @media screen and (max-width: $breakpoint__ms) {
        gap: 7px;
        width: 50%;
      }
    }

    &--order {
      display: flex;
      justify-content: end;

      span {
        font-size: clamp(1.125rem, 1.08rem + 0.19vw, 1.25rem);
        line-height: 18px;
      }
    }
  }
}

.hero__contacts--wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (max-width: $breakpoint__s) {
    gap: 20px;
  }
}
