@use "../base/vars" as *;

.hero {
  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: space-between;
  }

  &__title {
    flex-grow: 4;
    padding: 0 12px;
    h1 {
      font-size: clamp(44px, 10vw, 72px);
      font-weight: 400;
      line-height: 65px;
      margin: 0;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 8px 0;

    &--phone {
      p {
        font-size: 2.5rem;
        line-height: 48px;

        @media screen and (max-width: $breakpoint__l) {
          font-size: 2rem;
        }
      }
    }

    &--links {
      display: flex;
      flex-wrap: nowrap;
      gap: 4px;
      justify-content: end;
    }

    &--link {
      font-size: clamp(1rem, 0.955rem + 0.19vw, 1.125rem);
      line-height: 18px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 8px 12px;
      border-radius: 8px;
      transition: outline-width 0.3s ease-in-out, outline-color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;

      &:hover {
        background-color: #f5f4f2;
      }
    }

    &--order {
      margin-top: 15px;
      display: flex;
      justify-content: end;

      span {
        font-size: clamp(1.125rem, 1.08rem + 0.19vw, 1.25rem);
        line-height: 18px;
      }
    }
  }
}
