@use "../base/vars" as *;

.pricing {
  background-color: #fff;
  padding: 40px 0 80px;
}

.pricing__header {
  text-align: center;
  margin-bottom: 50px;

  h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    color: #4c4c4c;
    margin: 0;
  }
}

.pricing__list {
  max-width: 900px;
  margin: 0 auto;
}

.pricing__location {
  margin-bottom: 25px;

  p {
    font-size: 24px;
    color: #8c8c8c;
    font-weight: 500;
  }
}

.pricing__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;

  &--individual {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.pricing__details {
  flex-grow: 1;
  padding-right: 20px;
}

.pricing__min-order {
  display: block;
  font-size: 12px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.pricing__service-name {
  font-size: 22px;
  font-weight: 500;
  margin: 0;

  @media screen and (max-width: $breakpoint__ms) {
    font-size: 20px;
  }
}

.pricing__service-subtext {
  font-size: 14px;
  color: #8c8c8c;
  margin-top: 5px;
}

.pricing__price {
  text-align: right;
  line-height: 1.2;

  p {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin: 0;
  }
}

.pricing__price--hour,
.pricing__price--km {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}

.pricing__price--min {
  font-size: 14px;
  color: #8c8c8c;
}

.pricing__price--individual {
  font-size: 20px;
  font-weight: 500;
}

.pricing__subnote {
  display: block;
  font-size: 12px;
  color: #8c8c8c;
  margin-top: 5px;
}
