@use "../base/vars" as *;

.services {
  background-color: #eeedef;
  padding: 40px 60px;

  @media screen and (max-width: $breakpoint__xxl) {
    padding: 40px 30px;
  }
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.services__item {
  background-color: #f4f6f8;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 24px 40px 40px 28px;
  transition: scale 0.3s ease-in-out;
  width: 24%;

  @media screen and (max-width: $breakpoint__ml) {
    width: 49%;
  }

  @media screen and (max-width: $breakpoint__mss) {
    width: 100%;
  }

  p {
    font-size: clamp(1.125rem, 0.785rem + 0.38vw, 1.25rem);
    font-weight: 500;
    line-height: 19.8px;
    margin: 0;
    padding-left: 12px;
  }

  &:hover {
    background: #fff;
    border-color: #fff;
    box-shadow: 0 24px 88px -8px #42557a33;
    scale: 1.04;
    transition: scale 0.1s ease-in-out;
    z-index: 2;
  }
}

.services__item--image {
  margin-bottom: 24px;
}

.top {
  img {
    height: 96px;
    width: 130px;
  }
}
