@use "../base/vars" as *;

.services {
  background-color: #eeedef;
  padding: 60px 60px;

  @media screen and (max-width: $breakpoint__xxl) {
    padding: 40px 30px;
  }
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.services__item {
  background-color: #f4f6f8;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  width: 24%;

  @media screen and (max-width: $breakpoint__ml) {
    width: calc(50% - 12px);
    padding: 24px 16px;
  }

  @media screen and (max-width: $breakpoint__mss) {
    width: 100%;
  }

  p {
    font-size: clamp(1.125rem, 0.785rem + 0.38vw, 1.25rem);
    font-weight: 500;
    line-height: 1.3;
    margin: 0;
    text-align: center;
  }

  &:hover {
    background: #fff;
    box-shadow: 0 24px 88px -8px #42557a33;
    transform: scale(1.04);
    z-index: 2;
  }
}

.services__item--image {
  height: 120px;
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
  }
}
