.statistic {
  padding: 48px 0;
  background-color: #1f3a5f;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png"),
    radial-gradient(circle at center, #3c5270 0%, #1f3a5f 100%);
  color: #fff;

  &__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__item {
    div {
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;

      p {
        font-size: 56px;
        line-height: 56px;
        margin-left: 12px;
      }
    }

    &--subtitle {
      font-size: 18px;
      padding-top: 16px;
    }
  }
}
