.statistic {
  padding: 48px 0;
  background-color: #b9d9c2;

  &__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__item {
    div {
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;

      p {
        font-size: 56px;
        line-height: 56px;
        margin-left: 12px;
      }
    }

    &--subtitle {
      font-size: 18px;
      padding-top: 16px;
    }
  }
}
