@use "./vars" as *;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $font-main;
  font-size: 16px;
  font-weight: 400;
  background-color: $color-white;
  color: #2b2f33;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: $container-padding-y $container-padding-x;
}
