@use "./vars" as *;

.btn__order {
  color: #fff;
  align-items: center;
  background-color: #ff8c00;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  outline-color: #0000;
  outline-style: solid;
  outline-width: 0;
  padding: 12px 16px;
  transition: outline-width 0.3s ease-in-out, outline-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;

  &:hover {
    outline-color: #2a2a2a;
    outline-width: 2px;
    background-color: #f5f4f2;
    color: #000;

    svg path {
      fill: #000;
    }
  }

  @media screen and (max-width: $breakpoint__ms) {
    width: 100%;
  }
}

.btn__pricing {
  outline: none;
  transition: all ease-in-out 0.3s;
  &:hover {
    background-color: #ff8c00;
    color: #000;
    transform: scale(1.1);
  }
}
