@use "./vars" as *;

.btn__order {
  color: #fff;
  align-items: center;
  background-color: #151515;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  justify-content: center;
  outline-color: #0000;
  outline-style: solid;
  outline-width: 0;
  padding: 12px 16px;
  transition: outline-width 0.3s ease-in-out, outline-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;

  &:hover {
    background-color: #2a2a2a;
    outline-color: #2a2a2a;
    outline-width: 2px;
  }
}
