// Fonts

$font-main: "Golos Text", sans-serif;

$color-white: #fff;

$container-padding-x: 28px;
$container-padding-y: 32px;

$breakpoint__xxl: 1440px;
$breakpoint__xlll: 1105px;
$breakpoint__xll: 1075px;
$breakpoint__xl: 1025px;
$breakpoint__l: 940px;
$breakpoint__ml: 875px;
$breakpoint__ms: 675px;
$breakpoint__mss: 560px;
$breakpoint__s: 485px;
$breakpoint__xs: 375px;
